@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 0px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 300px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 0px #333; }
}

body {
  background-color: black;
}


.pulse  {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #749a02;

  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
